doctype html
html
  head
    title D.W.S.N. Monitoring Page
    link(rel='stylesheet', href='index.css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js')
    script(src='https://code.jquery.com/jquery-2.2.2.js', integrity='sha256-4/zUCqiq0kqxhZIyp4G0Gk+AOtCJsY1TA00k5ClsZYE=', crossorigin='anonymous')
    // Material Design Lite
    link(rel='stylesheet', href='https://storage.googleapis.com/code.getmdl.io/1.0.5/material.blue_grey-red.min.css')
    script(src='https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js')
    // Local Script
    script(type='text/javascript', src='/scripts/script.js')
    // Local import
    link(rel='stylesheet', type='text/css', href='/stylesheets/index.css')
  body
    .mdl-grid(style='width:900px;')
      .irrigation.mdl-cell--12-col-desktop
        div(style='margin:10px;')
          span(style='font-size: 12px;')  Irrigation System Status 
          div(style='display:inline-block; margin-left:15px')
            label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for='switch-1')
              input#switch-1.mdl-switch__input(type='checkbox')
              span.mdl-switch__label
              span#stat
      .mdl-cell--6-col-desktop(style='margin-top:70px')
        div(style='width: 50%;margin: 0 auto;')
          .section-header  Temperature 
          .temp
            | Unit 1 : 
            #{u1_temp}
            | &degC
          .temp
            | Unit 2 : 
            #{u2_temp}
            | &degC
          .temp
            | Average : 
            span#avg_temp 40
            | &degC
      .mdl-cell--6-col-desktop(style=' margin-top:70px')
        div(style='width: 50%;margin: 0 auto;')
          .section-header  Moisture 
          .moist
            | Unit 1 : 
            #{u1_moist}
            | %
          .moist
            | Unit 2 : 
            #{u2_moist}
            | %
          .moist
            | Average : 
            span#avg_moist 40
            | %
